/*
 * The default templates contain the following colors
 *
 * main_bg: #ffffff
 * text_fg: #4d4d4d
 * title_fg: #164450
 * task_bg: #eeeeee
 *
 */

a
{
    color: #4d4d4d; /* text_fg */
}

body
{
    color: #4d4d4d; /* text_fg */
	background: #ffffff /* main_bg */
    font-family: arial;
}

a#title
{
    color: #164450; /* title_fg */
    /*color: #7b0449;*/
}

div.task
{
    background: #eeeeee; /* task_bg */
    border-radius: 8pt;
    margin: 16pt;
    padding: 2pt 16pt 2pt 16pt;
}

div#task_header
{
    margin: 0 0 16pt 0;
}

div#task_prompts
{
    margin: 8pt;
}
